<ScrollView>
<GridLayout rows="auto, auto, auto">
    <Button row="0" *ngIf="isCameraAvailable" text="Take Photo" class="btn btn-primary" (tap)="onTakePhoto()"></Button>
    <Image row="1" [src]="cameraSource" margin="5"></Image>
    <Image row="2" [src]="resultSource" margin="5"></Image>
</GridLayout>
</ScrollView>
